// Pages

// Table of Contents
//
// Style Guide




//
// Style Guide
//

.page-intro {
	height: 100vh;
	background-color: #364266;
// 	background: center center;
	background-size: cover;
	text-align: center;
	img {
		width: 150px;
		margin-bottom: 10px;
	}
}
#style-guide {
	.sg-header {
		margin-bottom: 20px;
		margin-top: 40px;
		border-bottom: 1px solid $gray-500;
	}
	.icons i {
		font-size: 24px;
		margin-bottom: 20px;
		text-align: center;
		color: $gray-800;
	}
	.color {height: 60px;}
	.colors {
		.row {
			margin-bottom: 40px;
			margin-right: 0;
			margin-left: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.btn-outline-primary {
	background: #fff;
}
.typography {
	.hh, h1, h2, h3, h4, h5, h6 {margin-bottom: 0;}
	small {margin-bottom: 30px; display: inline-block;}
}

//
// Home
//
.main-banner {
	position: relative;
	margin-top: 20px;
	cursor: pointer;
	.main-banner-img {
		margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
	.main-promo-content {
		position: relative;
		top: 0;
		margin: 0;
		text-align: center;
		margin-bottom: 40px;
	}
}
.banner-wells {
	text-align: center;
	margin-top: 30px;
	cursor: pointer;
	.well {
		height: 50vh;
		background: center center;
		background-size: cover;
		width: 100%;
		margin-bottom: 10px;
	}
}
.sub1 {
	text-align: center;
	cursor: pointer;
	.sub1-img {
		padding: 0 15px;
		img {width: 100%;}
	}
	.sub1-content {
		padding: 0 15px;
		margin: 20px 0 40px 0;
	}
	&.left {
		.sub1-content {padding-left:	 80px;}
	}
}

.brand-logos {
	margin-top: 20px;
	margin-bottom: 0; 
	padding-top: 0;
	img {
		width: 50%; 
		text-align: center;
    margin: 0 auto;
    display: block;
 	}
	ul {
		list-style: none; 
		padding-left: 0 !important;
		li {
			margin-bottom: 20px;
			cursor: pointer;
		}
	}
}

//
// PDP
//

.img-gallery img {width: 100%;}
.product-img, .gallery{
	position: relative;
	&:hover .arrows {
		opacity: 1 !important;
		}
	}
.arrows {
	transition: all 300ms ease;
	opacity: 0;
	div {
		position: absolute;
		padding: 8px 10px 4px;
		border-radius: 20px;
		border: 1px solid $gray-300;
		top: 40%;
		transition: all 300ms ease;
		background: rgba(255, 255, 255, 0.9);
		&:hover {border-color: $gray-600;cursor: pointer;}
		&.left {left: 0px;}
		&.right {right: 0px;}
	}
}
.slider-dots {
	width: 80px;
	margin: 0 auto;
	margin-top: 30px;
	p {
		font-size: 10px;
		text-align: center;
		margin-bottom: 0px;
		color: $gray-500;
	}
	div {
		width: 10px;
		height: 10px;
		background: $gray-300;
		border-radius: 50%;
		float: left;
		margin: 5px;
		&.active {
			background: $gray-600;
		}
	}
}

.customize-box {
	h1 {margin-top: 20px; margin-bottom: 20px;}
	h5 {margin-bottom: 0;}
	.select {
		margin-bottom: 30px;
		button {
			text-align: left;
			span {float: right; margin-top: 3px;}
		}
		.multi-option a {
			text-align: left;
		}
		.multi-option2 {
			margin-bottom: 20px;
			a {
			padding: .75rem 0;
				.name{
				padding-left: 2.25rem;
				float: left;
		    width: 65%;
		    white-space: normal;
		    text-align: left;
		    line-height: 18px;					
				}
				.button-price {
				padding-right: 2.25rem;
				float: right;
			}
			}
		}
		
		.img-dd {
			font-size: 14px;
			a {
				height: 43px;
			}
			img {
				float: left;
				position: relative;
				display: block;
				width: 50px;
			}
			.title {
				float: left;
				width: 145px;
				margin-left: 5px;
				line-height: 16px;
					display: block;
					white-space: normal;
			}
			.r0 span {margin-top: 3px;}
			.r1 span {margin-top: 10px;}
		}
		.menu-price {
			float: right;
			margin-left: 20px;
			color: $gray-600;
			font-size: 14px;
		}
		.button-price {
			float: right;
			margin-left: 20px;
			color: $gray-600;
			font-size: 14px;
		}
		.help {
			margin-bottom: 10px;
			display: inline-block;
			color: $gray-600;
		}
		.multi-option {
			margin-bottom: 20px;
		}
	}
	.selected {
		display: none;
		margin-bottom: 30px;
		h5 {border-bottom: 1px solid $gray-300;}
		p {float: left; margin-bottom: -5px; width: 100%;}
		a {font-size: 14px; color: $gray-600;}
		.selected-price {float: right;}
		.group {width: 100%;height: 1px;display: block;float: left;background: $gray-500;}
	}
	.add-to-cart-box {
		padding: 30px 0 40px;
		border-top: 1px solid $gray-300;
		border-bottom: 1px solid $gray-300;
		h5 {margin-bottom: 10px;}
		i {margin-right: 5px;}	
		.total-price {
			float: right;
		}	
	}
}
.buy-box {
	h1 {
    margin-top: 0px;
    margin-bottom: 20px;
	}
	.price {
    margin-bottom: 20px;
	}
	.btn {
    margin-bottom: 20px;
	}
	.deals {
		color: $gray-600;
		li {line-height: 30px;}
	}
}


.listing {
	text-align: center;
	transition: all 300ms ease;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	.img {
		position: relative;
		img {
			width: 100%;
		}
		&::after {
			content: "";
			transition: all 300ms ease;
			background: rgba(0, 0, 0, 0.0);
		}
	}
	.price {font-weight: bold;}
	&:hover {
		background: $gray-100;
		& .img::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.02);
			width: 100%;
			height: 100%;
		}

	}
	
}

.dynamic-tint-mir {
	display: none;	
}
.dynamic-lens {
	display: none;
}

.color-statches {
	div {
		border: 1px solid #404f73;
		width: 28%;
		float: left;
		border-radius: 2px;
		margin: 10px;
		padding: 15px;
		text-align: center;
		&:nth-child(3n) {margin: 10px 0 10px 10px;}
		&:nth-child(3n+1) {margin: 10px 10px 10px 0px;}
		&:hover {
			cursor: pointer;
			background: $primary;
		}
		img {
			border-radius: 50%;
		}
		p {
			margin-bottom: 0;
			font-size: 14px;
			margin-top: 10px;
			color: $gray-600;
		}
	}
}

.info-hover {display: none;}
.hovers.prog, .hovers.sing {
	display: none;
	.img-in-hover {padding: 80px 80px 0;}
	img {width: 80%; margin: 0 auto; display: block;}
	h6 {margin-top: 40px;}
}
.hovers.tint {
	display: none;
}


.pdp { .product-img { img { border-radius: 2px;}}}

.pdp-page-content {
	h3 {margin-top: 20px;border-bottom: 1px solid $gray-500;margin-bottom: 20px;}
	.section {
		margin-bottom: 20px;
	}
}

.gallery {
	overflow-y:  hidden;
	margin-bottom: 40px;
	&::-webkit-scrollbar { 
  	display: none; 
  }
	.gal-cont {
		width: 800px;
	}
	img {
		width: 18%;
		margin-right: 10px;
		float: left;
		border: 1px solid rgba(255, 255, 255, 0.0);
		border-radius: 2px;
		transition: all 300ms ease;
		&:hover {border-color: $gray-500;cursor: pointer;}
		&.active {
			border-color: $gray-500;
		}
	}
}

//
// Header
//
nav {
	position: relative;
}
nav .form-inline {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	left: 0;
	padding-right: 100px;
	padding-left: 680px;
	input {
		width: 100% !important;
		
	}
}

.search-bar {
	position: relative;
	width: 100% !important;
	.search-icon {
		position: absolute;
		font-size: 20px;
		left: 10px;
		top: 8px;
		color: $gray-600;
	}
	input {
		padding-left: 35px;
	}
}

.navbar-light .navbar-toggler {border-color: rgba(0, 0, 0, 0);}
.right-nav {
	a {padding-top: 14px; float: right;}
}
.cart-btn {
	color: $gray-700;
	i {margin-right: 5px;}
}

.support-nav {
	&.dark {background-color: $gray-700; a{color: $white;}}
	padding: 5px 0; 
	a {
		
		display: inline-block;
		margin-right: 30px;
		small {
			font-size: 14px;
		}
	}
	.right {
		float: right;
		a {
			margin-left: 30px;
			margin-right: 0px;
		}
	}
	.mobile {
		display: inline-block;
		width: 100%;
		text-align: center;
	}		
}

nav li.dropdown:hover .dropdown-menu {
	display: block;
}

.mobile-search-field {
	height: 0;
	opacity: 0;
	margin-top: 0px;
	transition: all 300ms ease;
	&.open {
	height: inherit;
	opacity: 1;
	margin-top: 20px;
	}
}

//
// Footer
//

footer {
	background: $gray-100;
	padding: 40px;
	margin-top: 40px;
	.social {
		list-style: none;
		padding-left: 0;
		h5 {margin-left: 0;}
		span {font-size: 26px; color: $gray-800; margin-right: 10px;}
		a:hover {text-decoration: none;}
		li {float: left;}
	}
	ul {
		padding-left: 0 !important;
		list-style: none;
	}
}
.copyright {
	text-align: center;
	padding: 10px;
}

//
// media Queries
//

.hidden-sm-down, .hidden-sm-down-b, .hidden-md-down, .hidden-lg-down, .hidden-xl-down {display: none;}
.hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up {display: inherit;}
.navbar-brand {margin-right: 0;}
.search-1 {display: none;}
.search-2 {display: none;}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	.hidden-sm-down {display: inherit;}
	.hidden-sm-down-b {display: block;}
	.hidden-sm-up {display: none;}
	.buy-box h1, .customize-box h1 {
    margin-top: 0px;
    margin-bottom: 20px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
	.hidden-md-down {display: inherit;}
	.hidden-md-up {display: none;}
	
	.navbar-brand {margin-right: 1rem;}
	.main-banner {
		position: relative;
		.main-banner-img {
			img {
				width: 100%;
			}
		}
		.main-promo-content {
			position: absolute;
			top: 20%;
			margin: 0 40px;
			max-width: 1214px;
		}
	}
	.brand-logos {
		margin-top: 20px;
		margin-bottom: -20px; 
		padding-top: 0;
	}
	.buy-box h1, .customize-box h1 {
    margin-top: 20px;
    margin-bottom: 20px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
	.hidden-lg-down {display: inherit;}
	.hidden-lg-up {display: none;}
	.right-nav {width: 180px;}
	.dropdown-toggle {
		margin-right: 20px;
		&::after {display: none;}
	}
	.search-1 {display: block;}
	
	.sub1 {
		text-align: left;
		.sub1-img {
			padding: 40px;
			img {width: 100%;}
		}
		.sub1-content {
			padding: 40px 0 40px 40px;
			margin: 0;
		}
	}
	.brand-logos {
		margin-top: 20px;
		margin-bottom: -40px; 
		padding-top: 20px;
	}
	.buy-box h1, .customize-box h1 {
    margin-top: 40px;
    margin-bottom: 40px;
	}
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1200px) {  
	.main-banner .main-promo-content {
		top: 35%;
	}
	.sub1 {
		.sub1-img {
			padding: 60px 80px;
			img {width: 100%;}
		}
		.sub1-content {
			padding: 80px 0;
			margin: 0;
		}
	}
	.brand-logos {
		margin-top: 20px;
		margin-bottom: -40px; 
		padding-top: 40px;
	}
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {  
	.hidden-xl-down {display: inherit;}
	.hidden-xl-up {display: none;}
	nav .form-inline {
		position: relative;
		width: 605px;
		box-sizing: border-box;
		left: 0;
		padding-right: 0;
		padding-left: 0;
		input {
			width: 100% !important;
		}
	}
	.search-1 {display: none;}
	.search-2 {display: block;}
	.brand-logos {
		margin-top: 20px;
		margin-bottom: -40px; 
		padding-top: 40px;
	}
}

